# volumes docker
*/data/
*/letsencrypt/

# fichiers sensibles
*.env
*.log


pwpush/*.db
pwpush/*.db-shm
pwpush/*.db-wal


# Portainer
portainer/


# MeTube downloads
metube/downloads/

uptime-kuma/

npm/data/


crowdsec/config/*
!crowdsec/config/acquis.yaml


vaultwarden/.env
lechroniqueur/db/
lechroniqueur/wp-content/uploads/
